.eu{
    position: absolute;
    margin-top: 31.5px;
    left: 0;
    height: 240px;
    width: 250px;
}
.icons{
    height: 25px;
    width: 25px;
    margin-right: 10pc;
    margin-top: -10px;
}
img{
    width: 25px;
    height: 25px;
    margin-right: 11pc;
}